body 	{
		background: #ccc;
		font: 67.2% Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: default;
		width: 1327px;;
		}

#wrapper 
		{
		background: #fff;
		padding-bottom: 50px;
		overflow: hidden;
		border-radius: 4px;
		width: 1100px;
		margin: 0 auto;		
		}

nav 	{
		width: 900px;
		margin: auto;
		}
		
ul 		{
		padding: 0;
		width: 1100px;
		margin: auto;
		}
		
nav li	{	
		display: inline-block;
		list-style: none;
		width: 250px;
		margin: auto;
		text-align: center;
		font-family: AltamonteNF, sans-serif;
		font-size: 25px;
		padding: 10px 25px;		
		background: #f00;
		border-radius: 4px;
		}	

@media screen {		
	@font-face 
			{
			font-family: AltamonteNF;
			src: local('AltamonteNF'), url('../fonts/AltamonteNF.ttf') format('truetype'); 
			}
		}
		
h1 {
		text-align: center;
		font-family: AltamonteNF, sans-serif;
		color: #ff0;
		background: #c00;
		border-radius: 4px;
		padding: 20px 0;
		margin: 0 0 10px;
		font-size: 300%;
}		
		
nav a 	{
		text-decoration: none;
		color: #ff0;				
		}
		
nav li:hover:not(.active)
		{
		background: #c00;
		}
		
.active {
		background-color: #c00;
		}
h2	
		{
		text-align: center;
		color: #c00;
		font-size: 200%;
		margin: 20px 0 0;
		}
		
				
/*The Painting Canvas*/


#sketch {
		width: 900px;
		margin: 0 auto;
		height: 450px;
		border: 5px ridge #f00;
		background: #fff;
		cursor: pointer;
		}
		
#intro	{
		font-size: 20px;
		text-align: center;
		}
		
form	{
		text-align: center;
		font-size: 30px;
		}
		
input#write
		{		
		width: 25%;
		height: 20px;	
		}
		
#display{
		height: 45px;
		margin: 0 auto;
		text-align: center;
		font-family: sans-serif;
		font-size: 35px;
		font-weight: bold;
		color: #f00;
		}

#colours {
		width: 100%;
		text-align: center;
		}
		
#colours img		
		{
		height: 120px;
		width: 120px;
		}	
		
#colours ul {
		position: relative;
		top: 0;
		left: 0;
		z-index: 1000;
}
		
#colours li
		{
		list-style: none;
		display: inline-block;
		cursor: pointer;
		}
		
#colours img:hover
		{
		border: 1px solid #bbb;
		}
		
.colour_click
		{
		border: 1px solid #bbb;
		background: #ddd;
		}

/* The Treasure hunt*/

img#doctors
		{
		width: 180px;
		height: 151px;
		}

#picture{
		float: left;
		width: 180px;
		margin: 20px 0 0 120px;
		padding: 10px;
		font-size: 22px;
		text-align: center;
		border: 1px solid #000;
		background: #ff3;
		}
		
.trans	{
		opacity: 0.5;
		}		
		
#boxxx	{
		width: 184px;		
		display: inline-block;
		float: left;
		margin: 20px 0 0 120px;
		font-size: 28px;
		}
		
#topper	{		
		float: left;
		width: 182px;
		height: 153px;
		text-align: center;
		padding: 10px;
		border: 1px solid #000;
		background: #ff3;
		}
		
#bottomer
		{
		float: left;		
		display: none;
		width: 182px;
		height: 153px;
		text-align: center;
		padding: 20px 10px 0;
		border: 1px solid #000;
		background: #ff0;
		color: #f00;
		}
		
/*This code is based on a tutorial by thenewboston*/	
#roll_box
		{
		visibility: hidden;
		float: left;
		margin: 30px 80px;
		width: 300px;
		height: 150px;	
		background: #ff0;
		font-size: 17px;
		border-radius: 10px;
		text-align: center;		
		-webkit-transition: -webkit-transform 3s, height 3s, width 3s, background 3s;
		-moz-transition: -moz-transform 3s, width 3s, height 3s, background 3s;
		}
		
#roll_box:hover
		{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		height: 130px;
		width: 300px;
		background: #f00;
		}
		
#roll_box p:first-child
		{
		color: #ff0;
		}
		
#roll_box p:nth-child(2)	
		{
		color: #f00;
		}
		
#gradient		
/*This code is  based on that from the website gradients.glrzad.com*/
		{	
		float: right;
		margin: 40px 80px 0 0;
		padding: 5px;
		display: none;
		border: 1px solid #000;
		width: 200px;
		height: 200px;
		font-size: 26px;
		text-align: center;
		color: #fff;
		background: #0f0;
		background-image: linear-gradient(bottom, rgb(255, 0, 0) 22%, rgb(0,255,0) 61%, rgb(0,0,255) 81%);
		background-image: -o-linear-gradient(bottom, rgb(255, 0, 0) 22%, rgb(0,255,0) 61%, rgb(0,0,255) 81%);
		background-image: -moz-linear-gradient(bottom, rgb(255, 0, 0) 22%, rgb(0,255,0) 61%, rgb(0,0,255) 81%);
		background-image: -webkit-linear-gradient(bottom, rgb(255, 0, 0) 22%, rgb(0,255,0) 61%, rgb(0,0,255) 81%);
		}
		
#bottom {
		height: 250px;
		width: 700px;
		margin: 0 auto;
		float: right;
		margin: 20px 30px;	
		}
		
#disco {
		display: none;
		width: 100%;
		margin: 0 auto;
		}
