<div id = "fun">
	<p>You are now in The Fun Factory, where you will find games for all the family.</p>
		<img src = "images/fun3.jpg" alt = "People having fun" />	
</div>

<div id = "paint_pots">
	<img src = "images/paint2.jpg" alt = "Paint pots" />
		<p>Help your children learn to write and draw with our Paint Box...</p>
	<img src = "images/paint3.jpg" alt = "Paint pots" />
</div>

<div id = "music">
	<img src = "images/music2.jpg" alt = "Guy playing a guitar" />
		<p>...or take our Treasure Hunt, and play a unique musical quiz.</p>
	<img src = "images/music1.jpg" alt = "people dancing in a nightclub" />
</div>
