<h2>The Paint Box</h2>
	
<div id = "intro">
	<p>If you're feeling artistic, simply click your mouse into the canvas below, and get sketching!!</p>
	<p>Write something in the box below; then watch your child paint the words for you.</p>
</div>
	
<form>
	<label><em>Write in here:</em></label>
	<input type = "text" id = "write" ng-model = "words"/>
</form>
	
<div id = "display">{{ words }}</div>
	
<div id = "colours">
	<ul>
		<li><img src = "images/red.png" paint="#f00"><p>Red</p></li>
		<li><img src = "images/orange.png" paint="orange"><p>Orange</p></li>
		<li><img src = "images/yellow.png" paint="#ff0"><p>Yellow</p></li>
		<li><img src = "images/green.png" paint="#0f0"><p>Green</p></li>
		<li><img src = "images/blue.png" paint="#00f"><p>Blue</p></li>
		<li><img src = "images/indigo.png" paint="violet"><p>Indigo</p></li>
		<li><img src = "images/violet.png" paint="indigo"><p>Violet</p></li>	
		<li><img src = "images/eraser.jpg" paint="#fff" lineWidth="40"><p>In case you <br />make a mistake</p></li>
	</ul>
</div>
	
<section id = "sketch">
	   <canvas id = "paint" placeholder = "Write in this box">
			Your browser does not support the Canvas element!
	   </canvas>
</section>