<h1>Musical Treasure Hunt</h1>
	
<div id = "picture">
	<img src = "images/spin_doctors.jpg" id = "doctors">
	<div><p>Which song was released by The Spindoctors on April 13th 1993?</p></div>
</div>
	
<div id = "boxxx">
	<div id = "topper">Simply drag the band's picture into this box</div>
	<div id = "bottomer">Now click on this box</div>
</div>	
	
<div id = "roll_box">
	<p>Doing well! Now click inside here and wait for the coloured box to appear</p>
	<p>To find out more, just hover over this box</p>
</div>	
	
<div id = "gradient"></div>
	
<canvas id = "dancer" width = "700" height = "250">
	Your browser does not support the Canvas element!
</canvas>

<audio src = "./two_princes.mp3" id = "disco">Your browser does not support the audio element</audio>